/* .carouselContainer { */
/* background: red;
  width: 1000px;
  height: fit-content; */
/* display: grid; */
/* } */

.carousel-container {
  display: flex;
  justify-content: center;
  max-width: 1000px;
  width: 100%;
}
